@page
@model CVproject.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CV</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CV.Id" />
            <div class="form-group">
                <label asp-for="CV.FirstName" class="control-label"></label>
                <input asp-for="CV.FirstName" class="form-control" />
                <span asp-validation-for="CV.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CV.LastName" class="control-label"></label>
                <input asp-for="CV.LastName" class="form-control" />
                <span asp-validation-for="CV.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CV.DateOfBirth" class="control-label"></label>
                <input asp-for="CV.DateOfBirth" class="form-control" />
                <span asp-validation-for="CV.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CV.Nationality" class="control-label"></label>
                <input asp-for="CV.Nationality" class="form-control" />
                <span asp-validation-for="CV.Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CV.Gender" class="control-label"></label>
                <input asp-for="CV.Gender" class="form-control" />
                <span asp-validation-for="CV.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CV.Email" class="control-label"></label>
                <input asp-for="CV.Email" class="form-control" />
                <span asp-validation-for="CV.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CV.Photo" class="control-label"></label>
                <input asp-for="CV.Photo" class="form-control" />
                <span asp-validation-for="CV.Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CV.Skills" class="control-label"></label>
                <input asp-for="CV.Skills" class="form-control" />
                <span asp-validation-for="CV.Skills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
